<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clienti, index as i">
        <th scope="row">{{item.id}}</th>
        <td>{{item.nomeContatto}}</td>
        <td>{{item.cognomeContatto}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.email}}</td>
        <td>
            <button type="button" class="btn btn-danger btn-sm mxy-1"(click)="rimuovi(item)"><i class="bi bi-file-x-fill"></i></button>
            <button type="button" class="btn btn-warning btn-sm mxy-1"(click)="detail(item)"><i class="bi bi-search"></i></button>
            <button type="button" class="btn btn-primary btn-sm mxy-1"(click)="update(item)"><i class="bi bi-pen"></i></button>
        </td>
      </tr>
  </table>
